In [1]:
import pandas as pd
import numpy as np

In [2]:
dframe = pd.DataFrame({'key1':['A','A','B','B','B'],
                      'key2':[1,1,2,2,3]})

In [4]:
dframe

  key1  key2
0    A     1
1    A     1
2    B     2
3    B     2
4    B     3

In [5]:
dframe.duplicated()

0    False
1     True
2    False
3     True
4    False
dtype: bool

In [6]:
dframe.drop_duplicates()

  key1  key2
0    A     1
2    B     2
4    B     3

In [10]:
dframe.drop_duplicates(['key2'], keep='last')

  key1  key2
1    A     1
3    B     2
4    B     3

In [11]:
dframe

  key1  key2
0    A     1
1    A     1
2    B     2
3    B     2
4    B     3