In [1]:
import pandas as pd
import numpy as np

In [12]:
dframe = pd.read_excel('random_excel.xlsx', sheet_name='Sheet2')

In [13]:
len(dframe)

3

In [5]:
xlsxfile = pd.ExcelFile('random_excel.xlsx')

In [7]:
xlsxfile.sheet_names

[u'Sheet1', u'Sheet2']

In [14]:
dframe

     e     f      g  h
0  red    fg  dcdds  3
1   sc   scd    scd  2
2  cvf  scdd     cs  1