In [1]:
import numpy as np
import pandas as pd

In [2]:
ww2_cas = pd.Series([8700000, 4300000, 3000000,2100000,400000], 
                   index=['USSR', 'Germany', 'China', 'Japan', 'USA'])

In [3]:
 ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [4]:
ww2_cas['China']

3000000

In [5]:
# Check for countries having casualities > 4 million
ww2_cas[ww2_cas>4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [8]:
'USSR' in ww2_cas

True

In [9]:
ww2_dict = ww2_cas.to_dict()

In [10]:
ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 400000,
 'USSR': 8700000}

In [11]:
ww2_series = pd.Series(ww2_dict)

In [13]:
ww2_series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [14]:
countries = ['China', 'Germany', 'Japan', 'USA', 'USSR', 'Argentina']

In [15]:
obj2 = pd.Series(ww2_series, index=countries)
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [19]:
print obj2[pd.isnull(obj2)]
print '\n'
print obj2[pd.notnull(obj2)]

Argentina   NaN
dtype: float64


China      3000000.0
Germany    4300000.0
Japan      2100000.0
USA         400000.0
USSR       8700000.0
dtype: float64

In [20]:
ww2_series + obj2

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA            800000.0
USSR         17400000.0
dtype: float64

In [21]:
obj2.name = 'World War 2 Casualties'

In [22]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 Casualties, dtype: float64

In [23]:
obj2.index.name = 'Countries'

In [24]:
obj2

Countries
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 Casualties, dtype: float64